.play-music-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, #394953, #414A51);

  .logo-text {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;

    &>span:nth-of-type(1) {
      color: rgb(165, 42, 42);
      animation: first 2s infinite forwards;
    }
    &>span:nth-of-type(2) {
      color: rgb(122, 231, 102);
      animation: second 2s infinite forwards;
    }
    &>span:nth-of-type(3) {
      color: rgb(103, 215, 230);
      animation: third 2s infinite forwards;
    }
    &>span:nth-of-type(4) {
      color: rgb(220, 231, 72);
      animation: fourth 2s infinite forwards;
    }
    &>span:nth-of-type(5) {
      color: rgb(226, 71, 144);
      animation: fifth 2s infinite forwards;
    }
    @keyframes first {
      0% {
        color: rgb(165, 42, 42);
      }
      25% {
        color: rgb(122, 231, 102);
      }
      50% {
        color: rgb(103, 215, 230);
      }
      75% {
        color: rgb(220, 231, 72);
      }
      100% {
        color: rgb(165, 42, 42);
      }
    }
    @keyframes second {
      0% {
        color: rgb(122, 231, 102);
      }
      25% {
        color: rgb(103, 215, 230);
      }
      50% {
        color: rgb(220, 231, 72);
      }
      75% {
        color: rgb(226, 71, 144);
      }
      100% {
        color: rgb(122, 231, 102);
      }
    }
    @keyframes third {
      0% {
        color: rgb(103, 215, 230);
      }
      25% {
        color: rgb(220, 231, 72);
      }
      50% {
        color: rgb(226, 71, 144);
      }
      75% {
        color: rgb(165, 42, 42);
      }
      100% {
        color: rgb(103, 215, 230);
      }
    }
    @keyframes fourth {
      0% {
        color: rgb(220, 231, 72);
      }
      25% {
        color: rgb(226, 71, 144);
      }
      50% {
        color: rgb(165, 42, 42);
      }
      75% {
        color: rgb(122, 231, 102);
      }
      100% {
        color: rgb(220, 231, 72);
      }
    }
    @keyframes fifth {
      0% {
        color: rgb(226, 71, 144);
      }
      25% {
        color: rgb(165, 42, 42);
      }
      50% {
        color: rgb(122, 231, 102);
      }
      75% {
        color: rgb(103, 215, 230);
      }
      100% {
        color: rgb(226, 71, 144);
      }
    }
  }

  .cover {
    margin-top: 70px;
    width: 100%;
    height: 320px;
    position: relative;

    &>img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      box-sizing: border-box;
      border: solid 10px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 5px 5px #5d5d63;
      animation: rotate-img 30s infinite forwards linear;
    }
    .running {
      animation-play-state: running;
    }
    .paused {
      animation-play-state: paused;
    }
    @keyframes rotate-img {
      0% {
        transform: rotateZ(0);
      }
      100% {
        transform: rotateZ(360deg);
      }
    }

    .logo {
      width: 60px;
      height: 60px;
      color: #ddd;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .lrc {
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    padding: 30px 0;
    // background-color: tomato;
    margin-top: 80px;
    overflow: scroll;

    .lrc-row {
      width: 100%;
      color: rgb(209, 209, 209);
      font-size: 14px;
      height: 30px;
    }
    .playing {
      color: aqua;
      font-size: 16px;
    }
  }
}